@page
@model ZappaWeb.Pages.Account.UpdateModel

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<div class="main-block">
    <div class="left-part">
        <img src="@Model.UserProfileImage" alt="John" style="width:50%">
    </div>
    <form method="post">
        <div class="title">
            <i class="fas fa-pencil-alt"></i>
            <h2>Edit Your Details</h2>
        </div>
        <div class="info">
            <input class="fname" type="text" name="name" placeholder="@Model.UserName" readonly>
            <input type="text" name="name" placeholder="Your Workplace">
            <input type="text" name="name" placeholder="Your Phone number">
            <input type="text" name="name" placeholder="Your University">
            <input type="text" name="name" placeholder="Your Profile Link">
        </div>
        <button type="submit">Update</button>
    </form>
</div>