@* success pop-up *@
@if (TempData["success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script> @* jquery from the bottom of layout file *@
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script> @* link from 'toaster js' *@
    <script type="text/javascript">
        toastr.success('@TempData["success"]')
    </script>
    @* for built-in message *@
    @* <h2 class="bg-success text-center">@TempData["vayo"]</h2> *@
}
@* error pop-up *@
@if (TempData["error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script> @* jquery from the bottom of layout file *@
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script> @* link from 'toaster js' *@
    <script type="text/javascript">
        toastr.error('@TempData["error"]')
    </script>

}