/* _content/ZappaWeb/Pages/Account/Profile.cshtml.rz.scp.css */
html[b-pg5nq9qj01], body[b-pg5nq9qj01] {
    min-height: 100%;
}

body[b-pg5nq9qj01], div[b-pg5nq9qj01], form[b-pg5nq9qj01], input[b-pg5nq9qj01], select[b-pg5nq9qj01], p[b-pg5nq9qj01] {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #eee;
}

body[b-pg5nq9qj01] {
    background: url("/uploads/media/default/0001/01/b5edc1bad4dc8c20291c8394527cb2c5b43ee13c.jpeg") no-repeat center;
    background-size: cover;
}

h1[b-pg5nq9qj01], h2[b-pg5nq9qj01] {
    text-transform: uppercase;
    font-weight: 400;
}

h2[b-pg5nq9qj01] {
    margin: 0 0 0 8px;
}

.main-block[b-pg5nq9qj01] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px;
    background: rgba(0, 0, 0, 0.5);
}

.left-part[b-pg5nq9qj01], form[b-pg5nq9qj01] {
    padding: 25px;
}

.left-part[b-pg5nq9qj01] {
    text-align: center;
}

.fa-graduation-cap[b-pg5nq9qj01] {
    font-size: 72px;
}

form[b-pg5nq9qj01] {
    background: rgba(0, 0, 0, 0.7);
}

.title[b-pg5nq9qj01] {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info[b-pg5nq9qj01] {
    display: flex;
    flex-direction: column;
}

input[b-pg5nq9qj01], select[b-pg5nq9qj01] {
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
}

    input[b-pg5nq9qj01]::placeholder {
        color: #eee;
    }

option:focus[b-pg5nq9qj01] {
    border: none;
}

option[b-pg5nq9qj01] {
    background: black;
    border: none;
}

.checkbox input[b-pg5nq9qj01] {
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.checkbox a[b-pg5nq9qj01] {
    color: #26a9e0;
}

    .checkbox a:hover[b-pg5nq9qj01] {
        color: #85d6de;
    }

.btn-item[b-pg5nq9qj01], button[b-pg5nq9qj01] {
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background: #26a9e0;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.btn-item[b-pg5nq9qj01] {
    display: inline-block;
    margin: 20px 5px 0;
}

button[b-pg5nq9qj01] {
    width: 100%;
}

    button:hover[b-pg5nq9qj01], .btn-item:hover[b-pg5nq9qj01] {
        background: #85d6de;
    }

@media (min-width: 568px) {
    html[b-pg5nq9qj01], body[b-pg5nq9qj01] {
        height: 100%;
    }

    .main-block[b-pg5nq9qj01] {
        flex-direction: row;
        height: calc(100% - 50px);
    }

    .left-part[b-pg5nq9qj01], form[b-pg5nq9qj01] {
        flex: 1;
        height: auto;
    }
}

</style[b-pg5nq9qj01] >
/* _content/ZappaWeb/Pages/Account/Update.cshtml.rz.scp.css */
html[b-oyvu75g0qo], body[b-oyvu75g0qo] {
    min-height: 100%;
}

body[b-oyvu75g0qo], div[b-oyvu75g0qo], form[b-oyvu75g0qo], input[b-oyvu75g0qo], select[b-oyvu75g0qo], p[b-oyvu75g0qo] {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #eee;
}

body[b-oyvu75g0qo] {
    background: url("/uploads/media/default/0001/01/b5edc1bad4dc8c20291c8394527cb2c5b43ee13c.jpeg") no-repeat center;
    background-size: cover;
}

h1[b-oyvu75g0qo], h2[b-oyvu75g0qo] {
    text-transform: uppercase;
    font-weight: 400;
}

h2[b-oyvu75g0qo] {
    margin: 0 0 0 8px;
}

.main-block[b-oyvu75g0qo] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px;
    background: rgba(0, 0, 0, 0.5);
}

.left-part[b-oyvu75g0qo], form[b-oyvu75g0qo] {
    padding: 25px;
}

.left-part[b-oyvu75g0qo] {
    text-align: center;
}

.fa-graduation-cap[b-oyvu75g0qo] {
    font-size: 72px;
}

form[b-oyvu75g0qo] {
    background: rgba(0, 0, 0, 0.7);
}

.title[b-oyvu75g0qo] {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info[b-oyvu75g0qo] {
    display: flex;
    flex-direction: column;
}

input[b-oyvu75g0qo], select[b-oyvu75g0qo] {
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
}

    input[b-oyvu75g0qo]::placeholder {
        color: #eee;
    }

option:focus[b-oyvu75g0qo] {
    border: none;
}

option[b-oyvu75g0qo] {
    background: black;
    border: none;
}

.checkbox input[b-oyvu75g0qo] {
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.checkbox a[b-oyvu75g0qo] {
    color: #26a9e0;
}

    .checkbox a:hover[b-oyvu75g0qo] {
        color: #85d6de;
    }

.btn-item[b-oyvu75g0qo], button[b-oyvu75g0qo] {
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background: #26a9e0;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.btn-item[b-oyvu75g0qo] {
    display: inline-block;
    margin: 20px 5px 0;
}

button[b-oyvu75g0qo] {
    width: 100%;
}

    button:hover[b-oyvu75g0qo], .btn-item:hover[b-oyvu75g0qo] {
        background: #85d6de;
    }

@media (min-width: 568px) {
    html[b-oyvu75g0qo], body[b-oyvu75g0qo] {
        height: 100%;
    }

    .main-block[b-oyvu75g0qo] {
        flex-direction: row;
        height: calc(100% - 50px);
    }

    .left-part[b-oyvu75g0qo], form[b-oyvu75g0qo] {
        flex: 1;
        height: auto;
    }
}

</style[b-oyvu75g0qo] >
/* _content/ZappaWeb/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-tfx5utpcr6] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-tfx5utpcr6] {
  color: #0077cc;
}

.btn-primary[b-tfx5utpcr6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-tfx5utpcr6], .nav-pills .show > .nav-link[b-tfx5utpcr6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-tfx5utpcr6] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-tfx5utpcr6] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-tfx5utpcr6] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-tfx5utpcr6] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-tfx5utpcr6] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
